*{
    margin: 0;
    padding: 0;
    font-family:"montserrat", sans-serif;
    }
    
    .menu li{
        margin-left: 10px;
    }
    .call-back i {  
        transition: 0.4s;
    
    }
    .show-menu-btn, .hide-menu-btn{
        transition: 0.4s;
        font-size: 30px;
        cursor: pointer;
        display: none;
        color: white;

    
    }
    .show-menu-btn{
        float: right;
    }
    .show-menu-btn i{
        padding-right: 10px;
        opacity: .5;
    }
    .menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
        background-color: rgb(77, 73, 73);
        padding:  0 10px;
    
    }
    #chk{
        position: absolute;
        visibility: hidden;
        z-index: -1111;
    }
    @media screen and (max-width:736px){
        .show-menu-btn, .hide-menu-btn{
            display: block;
    
        }
        .menu, .call-back{
            position: fixed;
            width: 50%;
            height: 100vh;
            background-color: rgb(59, 58, 58);
            right: -100%;
            top: 0;
            flex-direction: column;
            text-align: center;
            padding:70px 0 20px 0 ;
            transition: 0.7s;
    
        }
        .menu li{
            margin-bottom: 20px;
            display: block;
        }
        .hide-menu-btn{
            position: absolute;
            top: 30px;
            right: 40px;
        }
        #chk:checked ~ .menu{
            right: 0;
        }
    
        nav ul li:hover ul{
            visibility: hidden;

            
            }
    }